.form-control {
  display: flex;
  background: inherit;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  margin: auto;
  padding: 15px;
  height: 7vh;
  border: none;

}

.warn-msg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  p {
    color: rgb(245, 36, 36);
    text-align: center;
  }
}

label {
  color: wheat;
  font-size: 18px;
  font-weight: 300;

}

input {
  width: 20vw;
  height: 34px;
  min-width: 25rem;

  border-radius: 20px;
  color: wheat;
  border: 1px solid wheat;
  background-color: rgb(68, 64, 64);
  margin: 10px;
  padding: 8px;
}

.btn {
  border-radius: 20px;
  background-color: rgb(68, 64, 64);
  color: wheat;
  margin: 4px;
}

.btn:hover {
  background-color: wheat;
  color: rgb(68, 64, 64)
}

.shortened-url {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;


  padding: 50px;

  h3 {
    color: wheat;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
  }

  a {
    color: wheat;
    font-size: 20px;
  }

}

@media screen and (max-width: 540px) {
  .form-control {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0.7em;
  }

  .shortened-url {
    flex-wrap: wrap;
    margin: 5rem;
    gap: 1rem;
  }

  label,
  .btn {
    display: block;
    text-align: center;
  }

  .btn {
    position: fixed;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



}

@media screen and (max-width: 380px) {
  .btn {
    top: 55%;
  }


}